h1 {text-align: center ; color: blue}

.box1 {text-align: right; border: solid 1px black; background-color: darkorange}
.box2 {text-align: right; border: solid 1px black; background-color: aqua}
.box3 {text-align: right; border: solid 1px black; background-color: darksalmon}

.box {padding: 20px;
      border: solid 1px black;
      margin: 20px;
      height: auto;
      width: 24%;
      background-color: lightgreen;
      box-sizing: content-box;
      display: inline-block;
      text-align: center}


/********* Desktop = > 992 px *********/
@media (min-width: 992px) {}

/********* Tablet 768 - 991 px ********/
@media (min-width: 768px) and (max-width: 991px) {
      .second, .first { width: 38% }
      .third { width:87%; }
}

/********* Mobile = < 767 px **********/
@media (max-width: 767px) {
      .box {
            width:90%;
      }
}

